---
layout: home
title: Zardosht's homepage
---

<div id="home">

	
	<ul >
	    {% for post in site.posts limit:2 %}
	    	{% assign read_more = nil; %}
	    	{% assign post_class = nil; %}
		   	{% if post.group == 'farsi'  %}
		    	{% assign read_more = 'ادامه...' %}
	    		{% assign post_class = 'farsi'; %}
			{% else %}
		    	{% assign read_more = 'read more...' %}	
		    	{% assign post_class = 'blog'; %}		
		   	{% endif %}
	    	<div class= {{ post_class }}>
		   		<li>
		   			<span class='post-date'>{{ post.date | date_to_string }}</span>  
		   			 <a class="home-post-title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
		   		</li>
		            {{ post.excerpt }}
		            <p><a href="{{ post.url }}"> {{ read_more }}</a></p>	
		           	<br>
		           	<br>
	         </div>
	    {% endfor %}
	</ul>


	

</div>